<div class="flex justify-center">
  <div>
    <div class="flex justify-between">
      <div class="mt-6 mb-2 ml-4 mr-4 text-lg font-normal">
        Member Table
      </div>

      <div class="ml-24 h-max flex items-center justify-center mt-6">
        <i class="fa fa-search mr-2" aria-hidden="true"></i>
        <input
          type="text"
          placeholder=" Search"
          [(ngModel)]="searchText"
          class="h-9 border rounded-lg w-60 p-2"
        />
      </div>
      <div class="justify-center items-center mt-6 mr-5">
        <button
        class="border bg-blue-400 active:bg-blue-600 hover:bg-blue-500 p-2 w-max cursor-pointer rounded-lg text-black text-center" 
      >
      <i class="fa fa-plus" aria-hidden="true"></i> New
      </button>
      </div>
    </div>
    <div class="mt-4 ml-4 mr-4 w-max bg-gray-100 rounded-lg">
      <table class="w-max rounded-lg">
        <thead class="border border-solid border-l-0 border-r-0">
          <tr>
            <th class="text-md px-6 py-3 bg-blue-400 w-5">Id</th>
            <th class="text-md px-6 py-3 bg-blue-400 w-52">Name</th>
            <th class="text-md px-6 py-3 bg-blue-400 w-44">Date Of Birth</th>
            <th class="text-md px-6 py-3 bg-blue-400 w-44">Identity Card</th>
            <th class="text-md px-6 py-3 bg-blue-400 w-48">Phone Number</th>
            <th class="text-md px-6 py-3 bg-blue-400 w-40">Comfirm</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let member of AllMembers
                | search : searchText
                | paginate
                  : { itemsPerPage: pageSize, currentPage: currentPage }
            "
            [routerLink]="['/memberdetail']"
            class="hover:bg-gray-300"
            (click)="setId(member.id)"
          >
            <td class="text-center py-2 px-1">{{ member.id }}</td>
            <td class="text-center py-2 px-1">{{ member.t2 }}</td>
            <td class="text-center py-2 px-1">{{ member.t8 }}</td>
            <td class="text-center py-2 px-1">{{ member.t9 }}</td>
            <td class="text-center py-2 px-1">{{ member.t18 }}</td>
            <td class="flex justify-center items-center-center p-1 py-2">
              <div
                class="w-24 h-8 flex bg-green-300 justify-center items-center rounded-md"
              >
                submitted
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="flex justify-center mt-3">
      <pagination-controls (pageChange)="currentPage = $event">
      </pagination-controls>
    </div>
  </div>
</div>
