<div>
  <div class="items-center w-full h-10 ml-4 mr-2 mt-5 mb-1 flex">
    <div
      class="w-max p-2 border border-gray-500 cursor-pointer mr-2 rounded-md"
      (click)="selectTab('tab1')"
      [class.bg-blue-200]="selectedTab === 'tab1'"
    >
      Registration-A
    </div>
    <div
      class="w-max p-2 border border-gray-500 cursor-pointer mr-2 rounded-md"
      (click)="selectTab('tab2')"
      [class.bg-blue-200]="selectedTab === 'tab2'"
    >
      Registration-b
    </div>
    <div
      class="w-max p-2 border border-gray-500 cursor-pointer rounded-md"
      (click)="selectTab('tab3')"
      [class.bg-blue-200]="selectedTab === 'tab3'"
    >
      Member Info
    </div>
  </div>
</div>

<div class="mt-1">
  <div *ngIf="selectedTab === 'tab1'" class="p-4">
    <div
      class="w-full ml-2 mt-2 mb-0 p-4 h-full shadow-xl border border-gray-400 rounded-lg"
    >
      <div class="h-max">
        <h2 class="text-center text-lg font-medium block">အသင်းဝင် မှတ်တမ်း</h2>
        <div class="flex flex-wrap">
          <div class="form mr-4">
            <div class="mt-2 w-full justify-between flex">
              <label for="name" class="text-xs">အမည်</label>
              <input
                type="text"
                id="name"
                name="name"
                [(ngModel)]="memberA.t2"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="othername" class="text-xs">အခြားအမည်ရှိလျှင်</label>
              <input
                type="text"
                id="othername"
                name="othername"
                [(ngModel)]="memberA.t6"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="birthplace" class="text-xs">မွေးဖွားသည့်‌‌ဒေသ</label>
              <input
                type="text"
                id="birthplace"
                name="birthplace"
                [(ngModel)]="memberA.t7"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="birthdate" class="text-xs">မွေးသက္ကရာဇ်</label>
              <input
                type="text"
                id="birthdate"
                name="birthdate"
                [(ngModel)]="memberA.t8"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="identity" class="text-xs"
                >နိုင်ငံသားမှတ်ပုံတင်အမှတ်</label
              >
              <input
                type="text"
                id="identity"
                name="identity"
                [(ngModel)]="memberA.t9"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="religionRace" class="text-xs"
                >လူမျိူး/ကိုးကွယ်သည့်ဘာသာ</label
              >
              <input
                type="text"
                id="religionRace"
                name="religionRace"
                [(ngModel)]="memberA.t21"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="fathername" class="text-xs">အဘအမည်</label>
              <input
                type="text"
                id="fathername"
                name="fathername"
                [(ngModel)]="memberA.t11"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="mothername" class="text-xs">အမိအမည်</label>
              <input
                type="text"
                id="mothername"
                name="mothername"
                [(ngModel)]="memberA.t12"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="education" class="text-xs">ပညာအရည်အချင်း</label>
              <input
                type="text"
                id="education"
                name="education"
                [(ngModel)]="memberA.t13"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="work" class="text-xs">အလုပ်အကိုင်</label>
              <input
                type="text"
                id="work"
                name="work"
                [(ngModel)]="memberA.t14"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
          </div>
          <div class="formB ml-4">
            <div class="mt-2 w-full justify-between flex">
              <label for="currentwork" class="text-xs">လက်ရှိအလုပ်အကိုင်</label>
              <input
                type="text"
                id="currentwork"
                name="currentwork"
                [(ngModel)]="memberA.t15"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="workplace" class="text-xs">ဌာနအမည်</label>
              <input
                type="text"
                id="workplace"
                name="workplace"
                [(ngModel)]="memberA.t28"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="lastwork" class="text-xs"
                >နောက်ဆုံးလုပ်ကိုင်ခဲ့သည့်အလုပ်အကိုင်</label
              >
              <input
                type="text"
                id="lastwork"
                name="lastwork"
                [(ngModel)]="memberA.t20"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="address" class="text-xs">နေရပ်လိပ်စာ</label>
              <textarea
                name="address"
                id="address"
                [(ngModel)]="memberA.t16"
                cols="30"
                rows="3"
                class="text-black text-sm w-80 outline-none border-2 px-1 py- border-gray-600 rounded-md"
              ></textarea>
            </div>

            <div class="mt-2 w-full justify-between flex">
              <label for="currentaddress" class="text-xs"
                >လက်ရှိနေရပ်လိပ်စာ</label
              >
              <textarea
                name="currentaddress"
                id="currentaddress"
                [(ngModel)]="memberA.t17"
                cols="30"
                rows="3"
                class="text-black text-sm w-80 outline-none border-2 px-1 py- border-gray-600 rounded-md"
              ></textarea>
            </div>
            <div class="mt-2 w-full justify-between flex">
              <label for="phone" class="text-xs">ဖုန်းနံပါတ်</label>
              <input
                type="phone"
                id="phone"
                name="phone"
                [(ngModel)]="memberA.t18"
                class="text-black text-sm w-80 outline-none border-2 px-1 py-1 border-gray-600 rounded-md"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTab === 'tab2'" class="p-4">
    <div class="mt-2 flex justify-center items-center">
      <div class="w-max bg-gray-100">
        <table>
          <thead class="border border-solid border-l-0 border-r-0">
            <tr>
              <th class="text-md px-6 py-3 bg-blue-400 w-40">အမည်</th>
              <th class="text-md px-6 py-3 bg-blue-400 w-44">
                မွေးဖွားသည့် ရက်စွဲ
              </th>
              <th class="text-md px-6 py-3 bg-blue-400 w-36">အလုပ်အကိုင်</th>
              <th class="text-md px-6 py-3 bg-blue-400 w-36">ကဒ်ပြား</th>
              <th class="text-md px-6 py-3 bg-blue-400 w-36">တော်စပ်ပုံ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of allMembers">
              <td class="text-center p-1 py-3">{{member.t2}}</td>
              <td class="text-center p-1 py-3">{{member.t8}}</td>
              <td class="text-center p-1 py-3">{{member.t14}}</td>
              <td class="text-center p-1 py-3">{{member.t19}}</td>
              <td class="text-center p-1 py-3">{{member.t27}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTab === 'tab3'" class="p-4 bg-gray-100">
    Tab 3 Content
  </div>
</div>
